<div class="row">
  <div class="col-sm-8 col-md-8">
  	<h1><%= markdown @post.title %></h1>
    <p><%= markdown @post.body %></p>
  </div>
  <div class="col-sm-4 col-md-4">
    <% if can? :edit, @post %>
      <%= link_to "Edit", edit_topic_post_path(@topic,@post), class: 'btn btn-large btn-block' %>
    <% end %>
  </div>
</div>
