@import "bootstrap";
@import "colors";
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Montserrat);

body {
	
}

h1, h2, h3, h4 {
	color: $turquoise;
}

a {
	color: $midnightblue;
	&:hover {
		text-decoration: none;
	}
	
}

ul.nav {
  a {
  	color: $clouds;
  	&:hover {
  		background-color: rgba(255,255,255, 0.15);
  	}
  }
}

.navbar-custom {
	background-color: $midnightblue;
	border-radius: 0px;
}

.navbar-brand {
	padding: 5px 30px 5px 15px;
	img {
		height: 40px;
	}
}

.jumbotron {
	margin-top: 20px;
	background: $clouds;
	background-image: image-url('jumbo_main.png');
	background-repeat: no-repeat;
	background-position: 90% 40px;
	background-size: 50%;
	h2 {
		width: 350px;
	}
	p:last-child {
		margin-top: 80px;

		a {
			width: 300px;
		}
	}
}

.user-info {
  margin-top: 9px;
}

.page-title {
	color: $turquoise;
	margin-bottom: 40px;
}

.post-card {
	border: 1px solid $concrete;
	border-radius: 7px;
	padding: 40px;
	&:hover {
		background-color: $clouds;
	} 
}

.strapline {
	text-align: center;
	padding: 20px 0 40px;
	h2 {
		font-style: italic;
		font-family: 'Montserrat', helvetica, arial, sans-serif;
	}
}
.licker-container {
	position: absolute;
	top: 60px;
	left: 50%;
	width: 50%;
	height: 600px;
	overflow: hidden;
	z-index: 999;
	span#licker {
		position: absolute;
		height: 600px;
		width: 600px;
		right: -1000px;
		background: image-url('stickit_vectors.png');
		background-repeat: no-repeat;
		background-size: 600px 600px;
		-webkit-transition: all 1.5s ease-in-out;
		-moz-transition: all 1.5s ease-in-out;
		transition: all 1s ease-in-out;
	}
}


.posts-container {
}

input, textarea {
	width: 100%;
	height: 40px;
	font-size: 1.6em;
	border-radius: 5px;
	border: 1px solid $silver;
	padding-left: 10px;
}

textarea {
	min-height: 140px;
}

input[type="password"]:focus, input[type="email"]:focus, input[type="text"]:focus, textarea:focus  {
		border-color: rgba(26, 188, 156,1.0);
		// box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px rgba(26, 188, 156,0.4);
		outline: 0 none;
	}

.btn-success {
	background-color: $turquoise;
	border: 1px solid $greensea;
	&:hover {
		background-color: $greensea;
	}
}

.side-list {
	list-style: none;
	text-align: left;
	margin: 10px 0 5px -25px;
	li {
		padding: 10px 0;
	}
}